(gzip) {
	encode zstd gzip
}

(cloudflare) {
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

(services) {
	map {host} {upstream} {
		jellyfin.home.brunobernard.dev     jellyfin:8096
		jellyseerr.home.brunobernard.dev   jellyseerr:5055
		radarr.home.brunobernard.dev       radarr:7878
		sonarr.home.brunobernard.dev       sonarr:8989
		prowlarr.home.brunobernard.dev     prowlarr:9696
		files.home.brunobernard.dev        filebrowser:80
		transmission.home.brunobernard.dev transmission:9091
		portainer.home.brunobernard.dev    portainer:9000
		registry.home.brunobernard.dev     registry:5000
		vitodeploy.home.brunobernard.dev   vitodeploy:80
	}
	reverse_proxy {upstream}
}

pihole.home.brunobernard.dev {
	import gzip
	redir / /admin{uri}
	reverse_proxy pihole:80
	import cloudflare
}

*.home.brunobernard.dev {
	import gzip
	import services
	import cloudflare
}
